# Local .terraform directories
**/.terraform/*
**/.terragrunt-cache/*

# .tfstate files
*.tfstate
*.tfstate.*
*.terraform.lock*
*.tflint.hcl
**/.vscode/*
terraform/gogs-app/modules/gogs/certificate.crt
terraform/gogs-app/modules/gogs/private.key
terraform/gogs-app/modules/gogs/capybara-dev-42069-ea08a9adf12d.json
terraform/gogs-app/environments/backend.tf
terraform/gogs-app/modules/gogs/capybara-dev-42069-7b3ea7e1651c.json
